[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname = "{{ inventory_hostname }}"
  omit_hostname = false

###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################

[[outputs.influxdb_v2]]
  urls = ["https://influxdb.pamperspoil.com:8086"]
  tls_ca = "/etc/telegraf/isrgrootx1.pem"
  # E! [outputs.influxdb_v2] When writing to [https://influxdb.pamperspoil.com:8086]: Post "https://influxdb.pamperspoil.com:8086/api/v2/write?bucket=office&org=pamperspoil": x509: certificate signed by unknown authority
  insecure_skip_verify = true
  # https://github.com/influxdata/telegraf/blob/master/docs/CONFIGURATION.md
  token = "${INFLUXDB_API_TOKEN}"
  organization = "pamperspoil"
  bucket = "infrastructure"

[[inputs.system]]

[[inputs.exec]]
  commands = ["/usr/local/bin/rs485_temp.py"]
  # data_format = "influx"
  data_format = "value"
  data_type = "float"
  timeout = "5s"

# 08.2022 - seems to be not working on ostree based os. troubleshoot yields no clue
# https://github.com/influxdata/telegraf/blob/master/plugins/inputs/disk/README.md
#[[inputs.disk]]
#  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

